
<div class = "player">
  <%= params[:question] %>
  <p class = "italic">-You</p>
</div>

<div class = "coach">
  <div class = "bold">
      <%= @answer %>
  </div>
    <p class = "italic">-Your Coach</p>
</div>

<div class = "footer">
  <%= link_to "Ask a new question", ask_path %>
</div>


